body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input[type="text"] {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.articulo {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  max-width: 200px;
  text-align: center;
}

.agregar{
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  max-width: 200px;
  text-align: center;
}

.x {
float:right;
border-radius: 50px;
background-color: red;
color: white;
width: 20px;
height: 20px;
display: flex;
justify-content: center;
align-items: center;
border: 0;
}

.x:hover {
  background-color: #e47979;
}

button {
  background-color: #707072;
  border: none; 
  color: white;
  padding: 10px;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
}

button:hover {
  background-color: #919194;
}